# Frontend
my-shop-website/node_modules/
my-shop-website/dist/
my-shop-website/dist-ssr/
*.local

# Backend
backend/__pycache__/
backend/app/__pycache__/
backend/app/**/__pycache__/
*.py[cod]
*.egg-info/
.env

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db
